{% include 'parts/header.liquid' %}
	

		<!-- Blank Section -->
		<section class="Blank-section space-50-top-bottom text-center">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						Hello World
					</div>
				</div>
			</div>
		</section>
		<!-- END: Blank Section -->

Header Section

Intro Section
- label (page name) 
- h1 (title)
- h5 (description)
- ul > li > h5 strong (dynamic swapping text for benefits)
- button (CTA - link to in-page form)
- img

Ai Quote Section (Future Dev)

Stats Section
- h2 (title - why us) 
- h6 (description - why us)
- Stats {for each 4} 
- - img
- - h4 (Stat Heading)
- - p (Stat Description)

Feature Section
- h1 (title - feature heading)
- Feature {for each 5}
- - h3 (title)
- - p (description)
- - - ul Steps {for each 5}
- - - - li > h6 (Step)
- - img (alternating side)

Contact Section
- email
- whatsapp

FAQs Section
- FAQ {for each 10}
- - h5 (Question)
- - p (Answer)

Footer Section



		


{% include 'parts/footer.liquid' %}
