		<!-- Footer Section -->
		<section class="footer-section fill-blue-4 space-75-top-bottom" id="footer-section" data-section-title="Footer Section" data-section-slug="footer-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12 medium-6 large-8 space-50-bottom">
						<div class="h4 strong">Copyright &copy; 2023 – Windsor&amp;Souza</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Footer Section -->

	</div><!-- END: Page Content -->

</div><!-- END: Page Wrapper -->

<!-- ⬇ All Modals below this point ⬇ -->

<div id="modal-wrapper"><!-- Modal Wrapper -->
	<div class="modal-box js_modal_box">
		<!-- Modal Content : Sample Video -->
		<div class="modal-box-content js_modal_box_content" data-mod-id="sample-video">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- video embed -->
						<div class="video-embed js_video_embed" data-src="lncVHzsc_QA">
							<div class="video-loading-indicator"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END : Sample Video -->

		<!-- Modal Content : Sample Form -->
		<div class="hidden modal-box-content js_modal_box_content" data-mod-id="sample-form">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<h2>Form Title Goes Here</h2>
					</div>
				</div>
				<div class="row">
					<!-- video embed -->
					<div class="columns small-12">
						<div class="video-embed js_video_embed" data-src="lncVHzsc_QA">
							<div class="video-loading-indicator"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12">
						<!-- <p>Sample text</p> -->
					</div>
				</div>
			</div>
		</div><!-- END : Sample Form -->


		<!-- Modal Close Button -->
		<div class="modal-close js_modal_close">&times;</div>
	</div>

</div><!-- END : Modal Wrapper -->

<!--  ☠  MARKUP ENDS HERE  ☠  -->

<script type="text/javascript" src="/js/video_embed.js"></script>

</body>

</html>